SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/echotale
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
